<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringDiProfile" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="pl.javastart.SpringDiApplication" />
    <module name="spring-di-profile" />
    <option name="VM_PARAMETERS" value="-Dspring.profiles.default=dev -Dspring.profiles.active=prod" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>